{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!-- PAGE TITLE -->
<header class="py-8 py-md-11">
    <div class="container text-center py-xl-2">
        <h1 class="display-4 fw-semi-bold mb-0">Forgot Password</h1>
    </div>
</header>

<!-- Forgot Password Form -->
<div class="container mb-11">
    <div class="row gx-0 justify-content-center">
        <div class="col-md-7 col-xl-4">
            {% include 'components/messages.html' %} <!-- Notification messages -->
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }} <!-- Render the form fields here -->
                <br><br>
                <button class="btn btn-block btn-primary" type="submit">Send Confirmation Link</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
