{% extends 'base.html' %}
{% block title %}about us{% endblock %}
{% block content %}
    {% load static %}
    <br><br>
    <div class="container pb-4 pb-xl-7">
        <div class="text-center mb-md-6 mb-4">
            <h1 class="mb-3">About Us</h1>
            <p class="font-size-lg mb-5 text-capitalize">Discover your perfect program in our courses.</p>

            <p class="w-xl-80 mx-auto line-height-md">
                A Online learning management system is a software application or web-based technology used to plan,
                implement
                and assess a specific learning process. It's used for e-learning practices and, in its most common form,
                consists of two elements: a server that performs the base functionality and a user interface (UI) that
                is operated by instructors, students and administrators.

                Typically, an LMS provides an instructor with a way to create and deliver content, monitor student
                participation, and assess student performance. It might also provide students with interactive features,
                such as contact discussion, video courses and discussion forums.
            </p>
        </div>
    </div>
    <section class="py-5 pt-md-3 pb-md-10 text-center">
        <div class="container">
            <div class="mb-md-8 mb-4">
                <h1>Why Study With our LMS</h1>
                <p class="font-size-lg mb-0 text-capitalize">Discover your perfect program in our courses.</p>
            </div>

            <div class="row">
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="p-5 d-inline-block rounded-circle mb-6" style="border: 1px solid #F8C994;">
                        <div class="icon-circle icon-circle-lg" style="background-color: #f5debc; color: #EE8E00;">
                            <!-- Icon -->
                            <i class="fa fa-book" style="font-size:50px"></i>
                        </div>
                    </div>

                    <h4 class="mb-1">Learn Anything</h4>
                    <p class="px-lg-7 px-xl-8">You can learn from here anything which you want to.</p>
                </div>

                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="p-5 d-inline-block rounded-circle mb-6" style="border: 1px solid #B7B3F8;">
                        <div class="icon-circle icon-circle-lg" style="background-color: #d3d8f8; color: #5066F5;">
                            <!-- Icon -->
                            <i class="fa fa-bullseye" style="font-size:65px"></i>

                        </div>
                    </div>

                    <h4 class="mb-1">Flexible Learning</h4>
                    <p class="px-lg-7 px-xl-8">We offer Flexible Learning Here.</p>
                </div>

                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="p-5 d-inline-block rounded-circle mb-6" style="border: 1px solid #B2F4DC;">
                        <div class="icon-circle icon-circle-lg" style="background-color: #b2f4dc; color: #00C27C;">
                            <!-- Icon -->
                            <i class="fa fa-handshake-o" style="font-size:55px"></i>

                        </div>
                    </div>

                    <h4 class="mb-1">Learn With Experts</h4>
                    <p class="px-lg-7 px-xl-8">We have Expert team with Instructors and Managing Employees.</p>
                </div>
            </div>
        </div>
    </section>



    <!-- BRAND
    ================================================== -->
    <div class="py-2 pt-md-5 pb-md-11">
        <div class="container">
            <div class="row row-cols-3 row-cols-md-5 text-center w-xl-80 mx-xl-auto justify-content-center align-items-center">
                <div class="col-md mb-4 mb-md-0">
                    <div class="mw-100p mx-auto">
                        <!-- Image -->
                        <i class="fa fa-cc-stripe" style="font-size:75px;color: #0c427c"></i>

                    </div>
                </div>
                <div class="col-md mb-4 mb-md-0">
                    <div class="mw-100p mx-auto">
                        <!-- Image -->
                        <i class="fa fa-github" style="font-size:75px;color: black"></i>

                    </div>
                </div>
                <div class="col-md mb-4 mb-md-0">
                    <div class="mw-100p mx-auto">
                        <!-- Image -->
                        <i class="fa fa-android" style="font-size:75px;color:green"></i>

                    </div>


                </div>
                <div class="col-md mb-4 mb-md-0">
                    <div class="mw-100p mx-auto">
                        <!-- Image -->
                        <i class="fa fa-cc-visa" style="font-size:75px;color:blue"></i>

                    </div>


                </div>
            </div>
        </div>
    </div>

{% endblock %}